#discoverbar.fullscreen {
	display: none !important;
}

@keyframes nodeInserted {
	from {
		outline-color: #fff;
	}
	to {
		outline-color: #000;
	}
}

@-moz-keyframes nodeInserted {
	from {
		outline-color: #fff;
	}
	to {
		outline-color: #000;
	}
}

@-webkit-keyframes nodeInserted {
	from {
		outline-color: #fff;
	}
	to {
		outline-color: #000;
	}
}

@-ms-keyframes nodeInserted {
	from {
		outline-color: #fff;
	}
	to {
		outline-color: #000;
	}
}

@-o-keyframes nodeInserted {
	from {
		outline-color: #fff;
	}
	to {
		outline-color: #000;
	}
}

BODY {
	animation-duration: 0.01s;
	-o-animation-duration: 0.01s;
	-ms-animation-duration: 0.01s;
	-moz-animation-duration: 0.01s;
	-webkit-animation-duration: 0.01s;
	animation-name: nodeInserted;
	-o-animation-name: nodeInserted;
	-ms-animation-name: nodeInserted;
	-moz-animation-name: nodeInserted;
	-webkit-animation-name: nodeInserted;
}

