HTML {
	border-radius: 4px;
}

body {
	border-radius: 4px;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
/*
  background-color: #eee;
  border-bottom: 1px solid black;
  border: 1px solid black;
*/
	font-size: 13px;
	zoom: 1.0 !important;
	max-width: 460px;
	position: fixed;
	left: 0;
	bottom: 0;
}

BODY.right-handed {
	right: 0;
	left: initial;
}

BODY.top-handed {
	top: 0;
	bottom: initial;
}

.toolbar-container {
  vertical-align: middle;
}
.toolbar {
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}
.toolbar-background {
	border-radius: 4px;
	position: absolute;
	left: -1000px; top: -1000px; right: -1000px; bottom: -1000px;
	left: 0; top: 0; right: 0; bottom: 0;
	z-index: -1;
}
.clickable {
	cursor: pointer;
}

.toolbar-version-container {
	font-size: 0.8em;
	float: right;
}

.stub {
	display: none !important;
}
.no-select {
	-moz-user-select:    none;
	-webkit-user-select: none;
	-ms-user-select:     none;
	user-select:         none;
}
.no-drag {
	-moz-user-select:    text;
	-webkit-user-select: text;
	-ms-user-select:     text;
	user-select:         text;
	cursor: auto;
}
.handed {
	display: flex;
}

.toolbar-action-container .toolbar-action:hover {
	border-radius: 4px;
	box-shadow: 0 0 2px #888;
}

.stop-flashing {
	-webkit-backface-visibility: hidden; -webkit-perspective: 1000; -webkit-transform:translate3d(0,0,0); -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button.pill {
	position: relative;
	float: left;
	width: auto;
	height: 13px;
	margin: 2px;
	padding: 0 9px 0 18px;
	border-radius: 9px;
	border:none;
	background-image:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
button.pill.delete {
	cursor: pointer;
}
button.pill.delete:before {
	content:"";
	width:13px;
	height: 13px;
	position: absolute;
	left: 3px;
	background-image: url('asset/Close.svg');
	background-size: 13px 13px;
	cursor: pointer;
}
button.add-contact:not(.stub) {
	display: list-item;
	line-height: 19px;
}
button.add-contact:not(.stub) .contact-thumbnail {
	display: block;
	float: left;
	margin-right: 5px;
	height: 19px;
	width: 19px;
	border-radius: 9px;
	color: white;
}
.invalid,
input:invalid {
	color: red;
}
input.invalid:active {
	outline: red auto 5px;
}
input.invalid:focus {
	outline: red auto 5px;
}

.icon.show-contacts {
	display: inline-block;
	/*
	position: absolute;
	right: 0;
	bottom: 0;
	*/
	width: 24px;
	height: 24px;
	background-image: url('asset/Icon/add-participants.png');
	background-size: contain;
}
/*
.toolbar-action {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px 0 10px;
  display: block;
}
*/
.toolbar-action.enabled {
	/*
	background-color: yellow;
	*/
}
.toolbar-settings-container .enabled {
	background-color: yellow;
	border-radius: 4px;
	color: black;
}
.toolbar-settings-container .toolbar-entry-list-item {
	padding: 0.25em !important;
	margin-top: 0;
}
.toolbar-settings-container .toolbar-entry-container {
	padding: 0.25em !important;
	margin: 0 !important;
}

.toolbar-separator {
	border-top: 1px solid #aaa;
	width: 100%;
}
.toolbar-section {
	padding: 10px 0;
	display: block;
	white-space: nowrap;
	margin-left: 44px;
	position: relative;
}
.toolbar:not(.mini-mode) .toolbar-section {
	min-width: 240px;
}
.toolbar-action-container {
	font-size: 0;
	display: flex;
	flex-direction: row;
}
.toolbar-entry-container,
.convo-recipients-csv {
	padding: 10px;
	padding-left: 0px;
}
.toolbar-entry-list-item {
	padding-top: 10px;
}
.toolbar-entry-list-item:first-of-type {
	padding-top: 0px;
}
.toolbar-section-contains-entries {
	padding: 0px !important;
	margin-top: 0px;
	margin-bottom: 0px;
}
.toolbar-mode-container {
	padding: 10px;
	padding-left: 0px;
}
.toolbar-social-container {
}
.toolbar-section-container {
	display: inline-block;
	display: inline-flex;
	white-space: nowrap;
	flex-direction: column;
}
.toolbar-section-sponsored {
}
.toolbar-action-container .toolbar-action {
	width: 34px;
	height: 34px;
	font-size: 15px;
	line-height: 34px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center; 
	cursor: pointer;
	content: "";
	display: inline-block;
	position: relative;
}
.toolbar-action.action-dislike-menu {
	/*
	position: absolute;
	right: -3px;
	*/
	width: auto;
	font-size: 20px;
	top: 0px;
}
.dislike-menu-icon {
	margin-top: -5px;
	display: inline-block;
}
.toolbar-action-icons {
	margin-right: 8px;
}
.toolbar-action {
	position: relative;
}
.toolbar-logo-container .toolbar-settings-icon {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 8px;
}
.toolbar-action-container .action-lists, .lists-icon {
	background-image: url("asset/Icon/Bookmark.svg");
}
.lists-expanded .toolbar-action-container .action-lists {
	background-image: url("asset/Icon/Bookmark-enabled.svg");
}
.toolbar-action-container .action-inbox {
	background-image: url("asset/Inbox.svg");
}
.toolbar-action-container .action-inbox.enabled {
	background-image: url("asset/Inbox.svg");
}
.toolbar-action-container .action-info {
	background-image: url("asset/Icon/Info.svg");
	-webkit-filter: grayscale(100%) brightness(150%);
    filter: grayscale(100%) brightness(150%);
	
}
#info.on {
	-webkit-filter: none !important;
    filter: none !important;
}
.toolbar-action-container .action-dislike {
	background-image: url("asset/Icon/Down.svg");
}
.toolbar-action-container .action-dislike.enabled {
	background-image: url("asset/Icon/Down-enabled.svg");
}
.toolbar-action-container .action-report {
	background-image: url("asset/reportInactiveIcon.svg");
}
.toolbar-action-container .action-report.enabled {
	background-image: url("asset/reportActiveIcon.svg");
}
.toolbar-action-container .action-inline-info {
	background-image: url("asset/DotDotDot.svg");
}
.inline-info-expanded .toolbar-action-container .action-inline-info {
	background-image: url("asset/Expand Horizontal.svg");
	transform: rotate(-180deg);
}
.right-handed .inline-info-expanded .toolbar-action-container .action-inline-info {
	transform: rotate(0deg);
}
.collapse-icon {
	content: '';
	position: relative;
	background-image: url("asset/Expand Horizontal.svg");
	width: 34px;
	height: 34px;
	transform: rotate(0deg);
	transition: transform .2s;
}
.collapse-icon.horizontal {
	transform: rotate(180deg);
}
.right-handed .collapse-icon.horizontal {
	transform: rotate(0deg);
}
.collapse-icon.vertical {
	transform: rotate(-90deg);
}
.top-handed .collapse-icon.vertical {
	transform: rotate(90deg);
}

.inline-info-body .inline-info-thumb {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	vertical-align: text-bottom;
}

.toolbar-action-container .action-like {
	background-image: url("asset/Icon/Like.svg");
}
.toolbar-action-container .action-like.enabled {
	background-image: url("asset/Icon/Like-enabled.svg");
}
.toolbar-action-container .action-share {
	background-image: url("asset/Icon/Share.svg");
}
.toolbar-expand-icon {
	background-image: url("asset/Expand.svg");
	width: 34px;
	height: 34px;
	transform: rotate(-180deg);
	transition: transform .2s;
}
.toolbar-settings-icon, .mini-mode .toolbar-settings-icon {
	background-image: url("asset/Settings.svg");
	width: 34px;
	height: 34px;
	margin: 0px !important;
	z-index: 1;
}
.toolbar:not(.mini-mode) .toolbar-settings-icon.enabled {
	background-image: url("asset/Close.svg") !important;
	background-color: #444;
	display: none;
}

.close-icon {
	background-image: url("asset/Close.svg") !important;
	background-size: cover;
}

.toolbar-share-container {
	width: 240px;
}
#toolbar-share-recipients-list,
#convo-recipients-list {
	display: block;
	position: relative;
	width: 100%;
}
#toolbar-share-recipients-list:after,
#convo-recipients-list.expanded:after {
	content: '';
	display: table;
	clear: both;
}
#convo-recipients-list:before {
	content: '';
	position: relative;
	top: 0;
	right: 0;
	background-image: url("asset/Expand.svg");
	width: 34px;
	height: 34px;
	transform: rotate(0deg);
	transition: transform .2s;
	float: right;
}
#convo-recipients-list.expanded:before {
	transform: rotate(-180deg);
	transition: transform .2s;
}
#convo-recipients-list:not(.expanded) {
	max-width: 360px;
	overflow: hidden;
}
#convo-recipients-list:not(.expanded) button.pill {
	display: none;
}
#convo-recipients-list .convo-recipients-csv {
	display: none;
	margin-right: 34px;
}
#convo-recipients-list:not(.expanded) .convo-recipients-csv {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.inline-info-expanded #convo-recipients-list:not(.expanded) .convo-recipients-csv {
	width: 356px;
}
#convo-recipients-list button.pill .contact-thumbnail,
#toolbar-share-recipients-list button.pill .contact-thumbnail {
	display: none;
}
.toolbar-share-recipients-container{
	max-height: 51px;
	overflow-y: auto;
}
.toolbar-share-container-section {
	display: block;
	position: relative;
	clear: left;
	min-height: 13px;
}
.toolbar-share-container .toolbar-share-buttons-container {
	line-height: 26px;
}
.toolbar-share-container .toolbar-share-buttons-container span.toolbar-action{
	cursor: pointer;
}
.toolbar-settings-container {
	background-color: #888;
	margin-left: 0;
	padding-left: 44px !important;
	color: white;
}
.toolbar-settings-container ul,
.toolbar-share-container ul {
	margin-left: 1em;
}
.toolbar-settings-container ul li,
.toolbar-share-container ul li {
	padding: .25em;
}
.toolbar-share-container ul,
#convo-contacts-list {
	max-height: 100px;
	overflow-y: auto;
}

.toolbar-inline-info-container .toolbar-expand-icon, .toolbar-icon-right {
	position: absolute;
	right: 0;
	top:   0;
}
.toolbar-expand-icon.enabled {
	transform: rotate(0deg);
}
.toolbar-action-container .action-stumble, .toolbar-action-container .action-signin {
	width: auto;
	vertical-align: middle;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
}
.toolbar-action-container .action-stumble.enabled {
	animation: stumble-pulse 3s infinite;
}
@keyframes stumble-pulse {
	0% {
		background-color: #E94136;
	}
	10% {
		background-color: #A94A2F;
	}
	80% {
		background-color: #FF4A2F;
	}
	100% {
		background-color: #E94A2F;
	}
}

.primary-background {
	background-color: #E94A2F;
	color: white;
}
.primary-color {
	color: #E94A2F;
	background-color: inherit;
}
.primary-hover:hover {
	color: #E94A2F;
	background-color: inherit;
}
.secondary-background {
	background-color: #888888;
	color: white;
}
.primary-border {
	border-color: #E94A2F;
}
.default-color {
	color: black;
}
.btn {
	border-radius: 4px;
	padding: 0 18px;
	text-align: center;
	min-width: 58px;
	height: 34px;
	font-size: 15px;
	line-height: 34px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center; 
	cursor: pointer;
	content: "";
	display: inline-block;
	position: relative;
}
.btn-success {
	background-color: #E94A2F;
    color: white;
	border-color: #E94A2F;
}

/*
.toolbar-action {
	float: left;
	font-weight: bold;
	background-color: gray;
	opacity: 0.666;
	display: inline-block;
	font-size: 10px;
	margin: 0;
	vertical-align: middle;
	width: 25%;
	height: 20px;
	outline: 1px solid black;
}
.right-most {
	float: right;
	border-radius: 0 10px 10px 0;
	width: 25%;
}
.left-most {
	float: left;
	border-radius: 10px 0 0 10px;
	width: 25%;
}
.bottom-most {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.top-most {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
*/
.clear {
	clear: both;
	width: 100%;
}
.mini-mode .hide-in-mini-mode {
	display: none !important;
}
.mini-mode .toolbar-border-top {
	border: 0 !important;
}





/**
 * Dark Sidebar
 */
.theme-dark-sidebar .toolbar-background-logo {
	background-color: #666;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.777;
}
.theme-dark-sidebar .toolbar-background {
	background-color: white;
	opacity: 0.777;
}
.theme-dark-sidebar .toolbar-border-bottom {
	border-bottom: 1px;
	border-style: solid !important;
	border-color: #ccc !important;
}
.theme-dark-sidebar .toolbar-border-top {
	border-top: 1px;
	border-style: solid !important;
	border-color: #ccc !important;
}
.theme-dark-sidebar .toolbar-logo-container {
	/*
	position: relative;
	float: left;
	*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
}
.theme-dark-sidebar .toolbar-logo {
	background-image: url("asset/Logo Light.svg");
	padding: 8px;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center; 
}
.theme-dark-sidebar .close-icon {
	background-image: url("asset/Close Dark.svg") !important;
}




/**
 * All Light
 */
.theme-all-light .toolbar-background-logo {
/*
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.777;
*/
}
.theme-all-light .toolbar-background {
	background-color: white;
	opacity: 0.777;
}
.theme-all-light .toolbar-border-bottom {
	border-bottom: 1px;
	border-style: solid !important;
	border-color: #ccc !important;
}
.theme-all-light .toolbar-border-top {
	border-top: 1px;
	border-style: solid !important;
	border-color: #ccc !important;
}
.theme-all-light .toolbar-logo-container {
	/*
	position: relative;
	float: left;
	*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	border-right: 1px solid #ccc;
}
.theme-all-light .toolbar-logo {
	background-image: url("asset/Logo Dark.svg");
	padding: 8px;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 18px 13px;
}
.theme-all-light .toolbar-settings-icon {
	background-image: url("asset/Settings.svg");
	width: 34px;
	height: 34px;
	margin: 0px !important;
	filter: invert(69%);
}
.theme-all-light .toolbar-settings-icon.enabled {
	filter: none;
}
.theme-all-light .close-icon {
	background-image: url("asset/Close Dark.svg") !important;
}



/**
 * All Dark
 */
.theme-all-dark, .theme-all-dark .default-color {
	color: white;
}
.theme-all-dark .toolbar-background-logo {
/*
	background-color: #444;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.777;
*/
}
.theme-all-dark .toolbar-background {
	background-color: #111;
	opacity: 0.777;
}
.theme-all-dark .toolbar-border-bottom {
	border-bottom: 1px;
	border-style: solid !important;
	border-color: #666 !important;
}
.theme-all-dark .toolbar-border-top {
	border-top: 1px;
	border-style: solid !important;
	border-color: #666 !important;
}
.theme-all-dark .toolbar-logo-container {
	/*
	position: relative;
	float: left;
	*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	border-right: 1px solid #666;
}
.theme-all-dark .toolbar-logo {
	background-image: url("asset/Logo Light.svg");
	padding: 8px;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center; 
}
.theme-all-dark .toolbar-settings-icon {
	background-image: url("asset/Settings.svg");
	width: 34px;
	height: 34px;
	margin: 0px !important;
}


.hidden {
	display: none !important;
}
.hidden .enabled {
	display: inline-block !important;
}

.toolbar-container:not(.settings-expanded) .show-when-settings-expanded:not(.enabled) {
	display: none;
}
.settings-expanded .toolbar-section:not(.show-when-settings-expanded):not(.toolbar-action-container) {
	display: none;
}

.toolbar-container:not(.inline-info-expanded) .show-when-inline-info-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.dislike-menu-expanded) .show-when-dislike-menu-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.miscat-expanded) .show-when-miscat-expanded:not(.enabled) {
	display: none;
}


.toolbar-container:not(.inbox-expanded) .show-when-inbox-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.lists-expanded) .show-when-lists-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.interests-expanded) .show-when-interests-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.keywords-expanded) .show-when-keywords-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.interests-expanded) .show-when-interests-expanded:not(.enabled) {
	display: none;
}

.toolbar-container:not(.convo-expanded) .show-when-convo-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.authed .hide-when-authed,
.toolbar-container:not(.authed) .hide-when-not-authed {
	display: none;
}

.toolbar-container.keywords-expanded .hide-when-keywords-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.interests-expanded .hide-when-interests-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.settings-expanded .hide-when-settings-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.share-expanded .hide-when-share-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.dislike-menu-expanded .hide-when-dislike-menu-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.miscat-expanded .hide-when-miscat-expanded:not(.enabled) {
	display: none;
}


.toolbar-container:not(.share-expanded) .show-when-share-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.mode-expanded .hide-when-mode-expanded:not(.enabled) {
	display: none;
}
.toolbar-container:not(.mode-expanded) .show-when-mode-expanded:not(.enabled) {
	display: none;
}

.enabled .badge, .badge.enabled {
	/*
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	border: 1px solid #E94A2F;
	text-shadow: 0px 0px 1px black;
	vertical-align: middle;
	text-align: center;
	border-radius: 6px;
	display: block;
	*/

	color: white;
	font-size: 8px;
	position: absolute;
	left: 51%;
	top: 25%;
	padding: 2px 4px;
	transform: translate(-50%, -50%);
	background-color: #E94A2F;
	border-radius: 6px;
	line-height: 1;
}


/*
.toolbar-section-sponsored {
	margin: 0 0 8px 0;
	text-align: center;
	width: 94px;
}
.toolbar-section-sponsored A {
	margin-left: 0;
	text-decoration: none;
	color: #888;
	font-size: 8px;
}
*/
.sponsored-text {
	color: inherit !important;
	text-decoration: none;
	cursor: pointer;
}

.right-handed .reverse-when-right-handed {
	flex-direction: row-reverse;
}
.top-handed .reverse-when-top-handed {
	flex-direction: column-reverse;
}
.top-handed .toolbar-border-top:not(.toolbar-entry-container) {
	border-top: 0px;
	border-bottom: 1px;
}


@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg);   }
	to   { -webkit-transform: rotate(359deg); }
}
.spinner {
	background-image: url("asset/Logo Light.svg");
	width: 17px;
	height: 17px;
	display: inline-block;
	background-position: center;
	background-color: #666;
	border-radius: 8px;

	-webkit-animation: rotation 2s infinite linear;
}

.toolbar-convo-container {
	padding-right: 1em;
}

.inbox-container, .convo-container, .lists-container, .interests-container, .keywords-container {
	max-height: 140px;
	display: block;
	overflow: auto;
}

.inbox-entry {
	border-bottom: 1px solid #888;
}

.inbox-entry.unread {
	background-color: blue;
}

.inbox-container SPAN {
	margin: 4px;
	vertical-align: middle;
	display: inline-block;
}

.inbox-container .inbox-entry-date {
	float: right;
}

.inbox-container .inbox-entry-title {
	width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: none;
}

.inbox-container .inbox-entry-snippet {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 1em;
}

.inbox-container .inbox-entry-image {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: cover;
	margin-right: 8px;
	float: left;
}



.interests-entry {
	border-bottom: 1px solid #888;
}

.interests-entry.unread {
	background-color: blue;
}

.interests-container SPAN {
	margin: 4px;
	vertical-align: middle;
	display: inline-block;
}

.interests-container .interests-entry-date {
	float: right;
	display: none;
}

.interests-container .interests-entry-title {
	text-overflow: ellipsis;
	overflow: hidden;
}

.interests-container .interests-entry-snippet {
	display: none;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 1em;
	font-style: italic;
}

.interests-container .interests-entry-image {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: cover;
	margin-right: 8px;
}

.interests-container .list-create-action .interests-icon {
	width: 16px;
	height: 16px;
}

.interests-container {
	white-space: normal;
	max-width: 360px;
}


.lists-entry {
	border-bottom: 1px solid #888;
}

.lists-entry.unread {
	background-color: blue;
}

.lists-container SPAN {
	margin: 4px;
	vertical-align: middle;
	display: inline-block;
}

.lists-container .lists-entry-date {
	float: right;
	display: none;
}

.lists-container .lists-entry-title {
	text-overflow: ellipsis;
	overflow: hidden;
}

.lists-container .lists-entry-snippet {
	display: none;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 1em;
	font-style: italic;
}

.lists-container .lists-entry-image {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: cover;
	margin-right: 8px;
}

.lists-container .list-create-action .lists-icon {
	width: 16px;
	height: 16px;
}

.lists-container {
	white-space: normal;
	max-width: 360px;
}


.convo-container {
	white-space: normal;
	max-width: 360px;
}

.convo-container .convo-entry {
	white-space: normal;
	width: 100%;
	display: inline-block;
}

.convo-container .convo-entry-user {
	font-weight: bold;
}
.convo-container .convo-entry-date {
	float: right;
	font-style: italic;
}

.convo-container .convo-entry-title {
	width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: none;
}

.convo-container .convo-entry-image {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: cover;
	margin-right: 8px;
	float: left;
	display: none;
}

.convo-container .convo-entry-body {
	margin: .5em .5em 1.5em .5em;
	display: block;
	clear: both;
}

.close-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 36px;
	height: 36px;
}

.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
	max-width: 356px;
}



.toolbar-entry-header {
	font-weight: bold;
}

.toolbar-entry-row .toolbar-entry-header, .toolbar-entry-row .toolbar-entry-body {
	display: inline-block;
	width: 50%;
}

.toolbar-entry-buttons {
	text-align: right;
}


.mode-picker .toolbar-action {
	padding-left: 1em;
}


.inset-title {
	margin-top: 1em;
	margin-bottom: 0.42em;
}

.inset-input-container {
	margin-bottom: 1.42em;
}

.lists-create-privacy {
	margin-bottom: 2em;
}

.lists-input-entry {
	margin-bottom: 1em;
}

.inset-buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

INPUT[type="text"] {
	padding: 4px 8px;
	width: 95%;
}

.toolbar-settings-container .toolbar-entry-list-item {
	margin: 1px 0px;
}

.toolbar-settings-container .collapse-icon {
	position: absolute;
	left: 0;
	bottom: 0;
}

.toolbar-settings-container {
	padding-top: 4px !important;
}

.lists-create-container {
	max-width: initial;
}

.lists-create-container .lists-entry-image {
	border-radius: 16px;
	position: relative;
}

.lists-create-container .lists-entry-image:after {
	color: white;
	content: "+";
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: translateY(20%);
	font-size: 16px;
}


.interests-create-action .interests-entry-image {
	border-radius: 16px;
	position: relative;
	background-color: transparent;
	background-image: url('asset/edit.svg');
	background-size: cover;
	border-radius: initial;
}

.center {
	text-align: center;
}

#miscat-current-interest {
	font-weight: bold;
}

.toolbar-section-standalone {
	padding-top: 0;
}


.error-message {
	position: absolute;
	top: 0;
	left: 0px;
	right: 0px;
	z-index: 10;
	text-align: center;
	z-index: 10;
	padding: .5em .5em;
	overflow: auto;
	color: white;
	background-color: red;
	box-shadow: 0px 4px 10px black;
}

.notify-message {
	position: absolute;
	top: 0;
	left: 0px;
	right: 0px;
	text-align: center;
	z-index: 10;
	padding: .5em .5em;
	overflow: auto;
	color: white;
	background-color: #1797d3;
	box-shadow: 0px 4px 10px black;
}

