HTML {
	border-radius: 4px;
}

body {
	border-radius: 4px;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
/*
  background-color: #eee;
  border-bottom: 1px solid black;
  border: 1px solid black;
*/
	font-size: 13px;
}
.toolbar-container {
  vertical-align: middle;
}
.toolbar {
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}
.toolbar-background {
	border-radius: 4px;
	position: absolute;
	left: -1000px; top: -1000px; right: -1000px; bottom: -1000px;
	left: 0; top: 0; right: 0; bottom: 0;
	z-index: -1;
}
.clickable {
	cursor: pointer;
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*
.toolbar-action {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px 0 10px;
  display: block;
}
*/
.toolbar-action.enabled {
	/*
	background-color: yellow;
	*/
}
.action-theme.enabled {
	background-color: yellow;
	border-radius: 4px;
	color: black;
}

.toolbar-separator {
	border-top: 1px solid #aaa;
	width: 100%;
}
.toolbar-section {
	padding: 10px 0;
	display: block;
	white-space: nowrap;
	margin-left: 44px;
	position: relative;
}
.toolbar-action-container {
	font-size: 0;
	display: flex;
	flex-direction: row;
}
.toolbar-entry-container {
	padding: 10px;
	padding-left: 0px;
}
.toolbar-entry-list-item {
	padding-top: 10px;
}
.toolbar-entry-list-item:first-of-type {
	padding-top: 0px;
}
.toolbar-section-contains-entries {
	padding: 0px !important;
	margin-top: 0px;
	margin-bottom: 0px;
}
.toolbar-mode-container {
	padding: 10px;
	padding-left: 0px;
}
.toolbar-social-container {
}
.toolbar-section-container {
	display: inline-block;
	display: inline-flex;
	white-space: nowrap;
	flex-direction: column;
}
.toolbar-section-sponsored {
}
.toolbar-action-container .toolbar-action {
	width: 34px;
	height: 34px;
	font-size: 15px;
	line-height: 34px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center; 
	cursor: pointer;
	content: "";
	display: inline-block;
}
.toolbar-action {
	position: relative;
}
.toolbar-logo-container .toolbar-settings-icon {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 8px;
}
.toolbar-action-container .action-list {
	background-image: url("asset/Icon/List.svg");
}
.toolbar-action-container .action-inbox {
	background-image: url("asset/Icon/Bookmark.svg");
}
.toolbar-action-container .action-inbox.enabled {
	background-image: url("asset/Icon/Bookmark-enabled.svg");
}
.toolbar-action-container .action-info {
	background-image: url("asset/Icon/Info.svg");
	-webkit-filter: grayscale(100%) brightness(150%);
    filter: grayscale(100%) brightness(150%);
	
}
.toolbar-action-container .action-info.on {
	-webkit-filter: none !important;
    filter: none !important;
}
.toolbar-action-container .action-dislike {
	background-image: url("asset/Icon/Down.svg");
}
.toolbar-action-container .action-dislike.enabled {
	background-image: url("asset/Icon/Down-enabled.svg");
}
.toolbar-action-container .action-extra {
	background-image: url("asset/DotDotDot.svg");
}
.toolbar-action-container .action-extra.enabled {
	background-image: url("asset/Expand Horizontal.svg");
	transform: rotate(-180deg);
}
.toolbar-action-container .action-like {
	background-image: url("asset/Icon/Like.svg");
}
.toolbar-action-container .action-like.enabled {
	background-image: url("asset/Icon/Like-enabled.svg");
}
.toolbar-action-container .action-share {
	background-image: url("asset/Icon/Share.svg");
}
.toolbar-action-container .action-share.enabled {
	background-image: url("asset/Icon/Share-enabled.svg");
}
.toolbar-expand-icon {
	background-image: url("asset/Expand.svg");
	width: 34px;
	height: 34px;
	transform: rotate(-180deg);
	transition: transform .2s;
}
.toolbar-settings-icon, .mini-mode .toolbar-settings-icon {
	background-image: url("asset/Settings.svg");
	width: 34px;
	height: 34px;
	margin: 0px !important;
	z-index: 1;
}
.toolbar:not(.mini-mode) .toolbar-settings-icon.enabled {
	background-image: url("asset/Close.svg") !important;
	background-color: #444;
}


.toolbar-settings-container {
	background-color: #444;
	margin-left: 0;
	padding-left: 44px !important;
	color: white;
}
.toolbar-settings-container ul {
	margin-left: 1em;
}
.toolbar-settings-container ul li {
	padding: .25em;
}

.toolbar-social-container .toolbar-expand-icon, .toolbar-icon-right {
	position: absolute;
	right: 0;
	top:   0;
}
.toolbar-expand-icon.enabled {
	transform: rotate(0deg);
}
.toolbar-action-container .action-stumble {
	width: auto;
	vertical-align: middle;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
}
.toolbar-action-container .action-stumble.enabled {
	animation: stumble-pulse 3s infinite;
}
@keyframes stumble-pulse {
	0% {
		background-color: #E94136;
	}
	10% {
		background-color: #A94A2F;
	}
	80% {
		background-color: #FF4A2F;
	}
	100% {
		background-color: #E94A2F;
	}
}

.primary-background {
	background-color: #E94A2F;
	color: white;
}
.primary-color {
	color: #E94A2F;
	background-color: inherit;
}
.primary-border {
	border-color: #E94A2F;
}
.default-color {
	color: black;
}
.btn {
	border-radius: 4px;
	padding: 0 18px;
}

/*
.toolbar-action {
	float: left;
	font-weight: bold;
	background-color: gray;
	opacity: 0.666;
	display: inline-block;
	font-size: 10px;
	margin: 0;
	vertical-align: middle;
	width: 25%;
	height: 20px;
	outline: 1px solid black;
}
.right-most {
	float: right;
	border-radius: 0 10px 10px 0;
	width: 25%;
}
.left-most {
	float: left;
	border-radius: 10px 0 0 10px;
	width: 25%;
}
.bottom-most {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.top-most {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
*/
.clear {
	clear: both;
	width: 100%;
}
.mini-mode .hide-in-mini-mode {
	display: none !important;
}
.mini-mode .toolbar-border-top {
	border: 0 !important;
}





/**
 * Dark Sidebar
 */
.theme-dark-sidebar .toolbar-background-logo {
	background-color: #666;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.777;
}
.theme-dark-sidebar .toolbar-background {
	background-color: white;
	opacity: 0.777;
}
.theme-dark-sidebar .toolbar-border-bottom {
	border-bottom: 1px solid #ccc;
}
.theme-dark-sidebar .toolbar-border-top {
	border-top: 1px solid #ccc;
}
.theme-dark-sidebar .toolbar-logo-container {
	/*
	position: relative;
	float: left;
	*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
}
.theme-dark-sidebar .toolbar-logo {
	background-image: url("asset/Logo Light.svg");
	padding: 8px;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center; 
}




/**
 * All Light
 */
.theme-all-light .toolbar-background-logo {
/*
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.777;
*/
}
.theme-all-light .toolbar-background {
	background-color: white;
	opacity: 0.777;
}
.theme-all-light .toolbar-border-bottom {
	border-bottom: 1px solid #ccc;
}
.theme-all-light .toolbar-border-top {
	border-top: 1px solid #ccc;
}
.theme-all-light .toolbar-logo-container {
	/*
	position: relative;
	float: left;
	*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	border-right: 1px solid #ccc;
}
.theme-all-light .toolbar-logo {
	background-image: url("asset/Logo Dark.svg");
	padding: 8px;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 18px 13px;
}
.theme-all-light .toolbar-settings-icon {
	background-image: url("asset/Settings.svg");
	width: 34px;
	height: 34px;
	margin: 0px !important;
	filter: invert(69%);
}
.theme-all-light .toolbar-settings-icon.enabled {
	filter: none;
}



/**
 * All Dark
 */
.theme-all-dark, .theme-all-dark .default-color {
	color: white;
}
.theme-all-dark .toolbar-background-logo {
/*
	background-color: #444;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.777;
*/
}
.theme-all-dark .toolbar-background {
	background-color: #111;
	opacity: 0.777;
}
.theme-all-dark .toolbar-border-bottom {
	border-bottom: 1px solid #666;
}
.theme-all-dark .toolbar-border-top {
	border-top: 1px solid #666;
}
.theme-all-dark .toolbar-logo-container {
	/*
	position: relative;
	float: left;
	*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	border-right: 1px solid #666;
}
.theme-all-dark .toolbar-logo {
	background-image: url("asset/Logo light.svg");
	padding: 8px;
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center; 
}
.theme-all-dark .toolbar-settings-icon {
	background-image: url("asset/Settings.svg");
	width: 34px;
	height: 34px;
	margin: 0px !important;
}


.hidden {
	display: none !important;
}
.hidden .enabled {
	display: inline-block !important;
}

.toolbar-container:not(.action-extra-expanded) .show-when-action-extra-expanded:not(.enabled) {
	display: none;
}

.toolbar-container.mode-expanded .hide-when-mode-expanded:not(.enabled) {
	display: none;
}
.toolbar-container:not(.mode-expanded) .show-when-mode-expanded:not(.enabled) {
	display: none;
}

.enabled .badge, .badge.enabled {
	/*
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	border: 1px solid #E94A2F;
	*/
	color: white;
	text-shadow: 0px 0px 1px black;
	vertical-align: middle;
	text-align: center;
	border-radius: 6px;
	font-size: 8px;
	display: block;
}


.toolbar-section-sponsored {
	margin: 0 0 8px 0;
	text-align: center;
	width: 94px;
}
.toolbar-section-sponsored A {
	margin-left: 0;
	text-decoration: none;
	color: #888;
	font-size: 8px;
}


.right-handed .toolbar-action-container {
	flex-direction: row-reverse;
}
.top-handed .toolbar-section-container {
	flex-direction: column-reverse;
}
.top-handed .toolbar-border-top {
	border-top: 0px;
	border-bottom: 1px solid #ccc;
}
